new-hampshire-latest.osm
united-states.osm
pagefile.sys
node_coordinates.db
midpoints.log
System Volume Information
sub-regions/unparsed
sub-regions/parsed
sub-regions/output
osm2pgsql-bin
old stuff that i prob dont need
$RECYCLE.BIN
__pycache__/speed_limit_api.cpython-311.pyc
